{% extends 'base.html.twig' %}

{% block title %}Projets{% endblock %}
{% block stylesheets %}
<style>

.container-img{
    width: 450px;
    height: 450px;
}

.img-template{
    width: 100%;
    height: 100%;
}

.section-template-projet{
    display: flex;
    width:100%;
    justify-content: space-around;
}

.p-template-projet{
    text-align: justify;
    width:20%;
}

.titre-projet{
    text-align: center;
    padding-top: 20px;
}


</style>


{% endblock %}
{% block body %}
  
             <section class='section-template-projet'>
               
              <h1 class='titre-projet'> {{ projet.nom }}</h1>
              <div class='container-img'>
              <img class='img-template' src='../images/mockup-images/{{ projet.image }}'/>
             </div>
             <div>
              <p class='p-template-projet'> {{ projet.description }}</p>
               {{ projet.competences }}
               </div>
</section>
    <a href="{{ path('projets_index') }}">back to list</a>

 

    {{ include('projets/_delete_form.html.twig') }}
{% endblock %}
